.services { 
    font-family: Helvetica, sans-serif;
}

.services h1 {
    font-size: 40px;
    color: gold;
    text-shadow: 2px 2px black;
}

.services p {
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

.services h3{
    font-size: 25px;
}

.services li {
    font-size: 16px;
    list-style-type: none;

}

