.universal {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: Helvetica, sans-serif;
}

.reviews-container {
    max-width: 800px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
    font-size:18px;
}

.title h1 {
    font-size: 40px;
    color: gold;
    text-shadow: 2px 2px black;
}

.slider-container .content .text {
    color: #484646;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.slider-container .content .rating {
    display: inline-block;
    line-height: 1;
}

.slider-container .content .star {
    color: #ff6f59;
    font-size: 1.1rem;
}

.slider-container .content .name {
    font-weight: 900;
}

.splide__track {
    border-radius: 1rem;
}

.splide__slide {
    align-items: center;
    background-color: #f7f7f7;
    padding: 3rem 1.875rem;
    border-radius: 1rem;
    gap: 1rem;
}

.splide__arrow {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #505050;
    font-weight: 300;
}

.splide__arrow--prev {
    left: -3.5rem;
}

.splide__arrow--next {
    right: -3.5rem;
}

.splide__pagination__page {
    height: 10px;
    width: 10px;
    opacity: 1;
}

.splide__pagination__page.is-active {
    background-color: #ff6f59;
}

